@media only screen and (max-width: 568px) {

    .home-page-icons-container {
        top: 20%;
        bottom: 20%;
    }

    .home-page-icons-container .home-page-icons {
        display: block;
    }

}