html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: orange;
}


.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.item-1 {
    position: absolute;
    top: 36%;
    left: 20%;
    right: 20%;
    text-align: center;
}

.top-panel {
    position: fixed;
    padding: 20px;
    height: 20%;
    left:0;
    right:0;
    top:0;
    border-bottom: 1px solid black;
}

.left-panel {
    position: fixed;
    padding: 20px;
    width: 20%;
    height: 100%;
    left:0;
    top:0;
    bottom:0;
    border-right: 1px solid black;
}

.right-panel {
    position: fixed;
    padding: 20px;
    height: 100%;
    width: 20%;
    right:0;
    top:0;
    bottom:0;
    border-left: 1px solid black;
}

.bottom-panel {
    position: fixed;
    padding: 20px;
    height: 20%;
    left:0;
    right:0;
    bottom:0;
    border-top: 1px solid black;
}