html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.block {
    display: block;
}

.home-page-icons-container {
    position: absolute;
    top: 36%;
    left: 0;
    right: 0;
    text-align: center;
}

.home-page-icons-container .home-page-icons {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
