<div class="contact-container">

  <br>
  <br>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-8 offset-sm-2">

        <h2 class="font-2">LMK.</h2>

        <br>

        <form name="form">

          <label for="email">Email address</label>
          <input id="email" type="email" name="email" ng-model="email" class="form-control" required>

          <br>

          <label for="message">Message</label>
          <textarea id="message" name="message" ng-model="message" class="form-control" rows="14" required></textarea>

          <br>

          <div class="float-right">
            <button class="btn btn-light" ng-disabled="form.$invalid" ng-click="send()">Send the Raven</button>
          </div>

          <br>
        </form>
      </div>

      <div class="col-xs-12 col-sm-8 offset-sm-2" ng-show="success">
        <br>
        <br>
        <h5 class="font-2 text-center">Bueno! I've got your message and you should be hearing back from me soon. 🤝</h5>
        <br>
        <br>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

</div>

<link type="text/css" rel="stylesheet" href="data:text/css;base64,LmNvbnRhY3QtY29udGFpbmVyIGlucHV0IHsKICBmb250LXNpemU6IDIwcHg7Cn0K">