<h2 style="font-weight: 100">Double Linked List</h2>
<p>A two-way linear node-to-node data structure which every node holds a reference to the previous node and next node.</p>

<div><code class="execute">double_linked_list = node('x') &rightleftarrows; node('y') &rightleftarrows; node('z') &rightleftarrows; node('a') &rightleftarrows; node('b') &rightleftarrows; node('c')</code></div>

<br>
<hr>
<br>

<h5 style="font-weight: 100">Search</h5>
<p>Since this data structure only knows it's previous and next nodes, it will have to recursively search in both direction to each end nodes.</p>
<div><code class="execute">search(node('a'), 'c')</code></div>
<div><code class="result">search(node('a'), 'c') &longrightarrow; (not equal; search left side previous node)</code></div>
<div><code class="result">search(node('z'), 'c') &longrightarrow; (not equal; search right side next node)</code></div>
<div><code class="result">search(node('b'), 'c') &longrightarrow; (not equal; search left side previous node)</code></div>
<div><code class="result">search(node('y'), 'c') &longrightarrow; (not equal; search right side next node)</code></div>
<div><code class="result">search(node('c'), 'c')</code></div>

<br>
<hr>
<br>

<h5 style="font-weight: 100">Previous</h5>
<p>The left node of the current selected node</p>
<div><code class="result">previous(node('a')) &longrightarrow; node('z')</code></div>
<div><code class="result">previous(node('x')) &longrightarrow; null</code></div>

<br>
<hr>
<br>

<h5 style="font-weight: 100">Next</h5>
<p>The right node of the current selected node</p>
<div><code class="result">next(node('a')) &longrightarrow; node('b')</code></div>
<div><code class="result">next(node('c')) &longrightarrow; null</code></div>

<br>
<hr>
<br>

<h5 style="font-weight: 100">Insert</h5>
<p>Recursively search for the right end node and set the next node to data.</p>

<div><code class="result">double_linked_list = node('x') &rightleftarrows; node('y') &rightleftarrows; node('z') &rightleftarrows; node('a') &rightleftarrows; node('b') &rightleftarrows; node('c')</code></div>
<div><code class="execute">insert(node('x'), 'd') ⟶ node('x') &rightleftarrows; node('y') &rightleftarrows; node('z') &rightleftarrows; node('a') &rightleftarrows; node('b') &rightleftarrows; node('c') &rightleftarrows; node('d')</code></div>

<br>
<hr>
<br>

<h5 style="font-weight: 100">Deletion</h5>
<p>Upon a deletion of a middle node, relink the previous_node.next_node to the deleted_node.next_node.</p>

<div><code class="result">double_linked_list = node('x') &rightleftarrows; node('y') &rightleftarrows; node('z') &rightleftarrows; node('a') &rightleftarrows; node('b') &rightleftarrows; node('c')</code></div>
<div><code class="execute">delete(node('x'), 'z') ⟶ node('x') &rightleftarrows; node('y') &rightleftarrows; node('a') &rightleftarrows; node('b') &rightleftarrows; node('c')</code></div>

<br>
<br>