<style>
  .videogular-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  videogular {
    line-height: 0;
    margin: 0;
  }

  videogular vg-time-display, [videogular] vg-time-display {
    font-size: 14px;
  }

  videogular vg-controls .controls-container, [videogular] vg-controls .controls-container {
    background-color: rgba(0, 0, 0, 0.3);
  }

</style>


<div class="motion-container">

  <div class="container">

    <div class="row" ng-repeat="videogular in videogulars">

      <div class="col-12 col-md-6 col-lg-7" style="padding: 0;">

        <div class="videogular-container">
          <videogular vg-theme="videogularTheme.url">
            <vg-media vg-src="videogular.sources" vg-tracks="[]"></vg-media>

            <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
              <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>
          </videogular>

          <br>
        </div>

      </div>

      <div class="col-12 col-md-6 col-lg-5" style="padding: 10px 20px;">
        <h2 style="font-weight: 200">{{videogular.title}}</h2>

        <br>

        <p class="font-2" style="font-size:20px; line-height: 30px; font-weight: 200;">{{videogular.description}}</p>

        <br>
      </div>
    </div>

  </div>

  <br>

</div>