<!--<div><img src="http://via.placeholder.com/1600x300" class="img-fluid w-100"></div>-->

<!--<br>-->

<h2 style="font-weight: 100">Queue</h2>
<p>A list of data that consumes the data via first in, first out (FIFO).</p>

<div><code class="execute">queue = ['a', 'b', 'c']</code></div>

<br>
<hr>
<br>

<h5 style="font-weight: 100">Enqueue</h5>
<p>Adding a data will append towards the end of the queue.</p>

<div><code class="execute">queue.enqueue('d')</code></div>
<div><code class="result">queue[0] = 'a'</code></div>
<div><code class="result">queue[1] = 'b'</code></div>
<div><code class="result">queue[2] = 'c'</code></div>
<div><code class="result">queue[3] = 'd'</code></div>

<br>
<hr>
<br>

<h5 style="font-weight: 100">Dequeue</h5>
<p>Removing a data will dequeue the first element of the queue.</p>

<div><code class="execute">queue.dequeue() &longrightarrow; 'a'</code></div>
<div><code class="result">queue[0] = 'b'</code></div>
<div><code class="result">queue[1] = 'c'</code></div>
<div><code class="result">queue[2] = 'd'</code></div>