<div class="splash-container">

  <br>
  <br>

  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-5 col-md-4 col-lg-3">
        <div class="text-center" style="padding: 20px;"><img src="./images/adam-3eaa861.jpg" class="rounded-circle img-fluid"></div>
        <br>
      </div>

      <div class="col-12 col-sm-7 col-md-8 col-lg-9">
        <p class="font-2" style="font-size:20px; line-height: 30px;">
          Bravo, you're doing your research. 👏
        </p>

        <br>

        <p class="font-2" style="font-size:20px; line-height: 30px;">
          Started a company called <a href="https://www.getcroissant.com" target="_blank">Croissant</a> with some friends in my apartment in New York City.
          We're backed by a VC accelerator, 500 Startups, in San Francisco.
        </p>

        <br>

        <p class="font-2" style="font-size:20px; line-height: 30px;">
          Heavily invested in cryptocurrency & passionate in the ecosystem.
        </p>

        <br>

        <p class="font-2" style="font-size:20px; line-height: 30px;">
          I shoot with my drone and a medium format camera.
        </p>

        <br>
        <br>
        <br>

      </div>
    </div>
  </div>

</div>

<link type="text/css" rel="stylesheet" href="data:text/css;base64,LnNwbGFzaC1jb250YWluZXIgewogIGZvbnQtc2l6ZTogMTZweDsKICBmb250LXdlaWdodDogMjAwOwogIGNvbG9yOiB3aGl0ZTsKfQo=">