<div class="splash-container">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <div><img src="./images/headshot-f846947.jpg" class="rounded-circle img-fluid"></div>
        <br>
      </div>

      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <p class="font-2" style="font-size:20px; line-height: 30px;">
          Does this font make me look like a geek?
        </p>

        <br>

        <p class="font-2" style="font-size:20px; line-height: 30px;">
          Started a company called <a href="https://www.getcroissant.com" target="_blank">Croissant</a> with some friends in my apartment in New York City.
          We're backed by an VC accelerator, 500 Startups, in San Francisco.
        </p>

        <br>

        <p class="font-2" style="font-size:20px; line-height: 30px;">
          Heavily invested in crypto currency and waiting for it to moon.
        </p>

        <br>

        <p class="font-2" style="font-size:20px; line-height: 30px;">
          I have a drone and a spanking new camera, ask me about it!
        </p>

      </div>
    </div>

  </div>
</div>

<link type="text/css" rel="stylesheet" href="./styles/splash-ce3b7f0.css">