<div class="splash-container">

  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <div class="text-center">

          <br>

          <div>
            <img src="./images/headshot-f846947.jpg" class="rounded-circle" width="180">
          </div>

          <br>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="text-center">
          <small>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="/" class="font-2">ADAM</a></li>
              <li class="list-inline-item"><a href="/project" class="font-2">PROJECTS</a></li>
              <li class="list-inline-item"><a href="/photography" class="font-2">PHOTOGRAPHY</a></li>
              <li class="list-inline-item"><a href="/contact" class="font-2">CONTACT</a></li>
            </ul>
          </small>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col">

        <p>founder @ <a href="https://www.getcroissant.com" target="_blank">croissant</a></p>
        <p>travel videos @ <a href="https://www.youtube.com/user/cMnAdam/videos" target="_blank">youtube</a></p>
        <p>friend me @ <a href="https://www.facebook.com/adamkchew" target="_blank">facebook</a></p>
        <p>follow me @ <a href="https://www.instagram.com/adamkchew" target="_blank">instagram</a></p>

        <br>

        <svg height="400" style="width:100%;position:fixed;left:0;bottom:0;right:0;z-index: -1;"></svg>

      </div>
    </div>
  </div>
</div>

<link type="text/css" rel="stylesheet" href="./styles/splash-ce3b7f0.css">